.content_square {
  width: 100px;
  height: 100px;
  background-color: black;

  position: relative;
  left: 0;
  animation-name: black-square;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes black-square {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
